.greetingsContainer{
    border-radius: 20px;
    background-color: #10898F;
    color: white;
    padding-inline: 5rem 2rem; 
    padding-block: 3rem 2rem;
}
progress{
    height: 6px;
}

progress::-webkit-progress-bar {
    background-color: #57BBC0; /* Background color */
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background-color: #FFFFFF; /* Progress color */
    border-radius: 10px;
  }

.status{
  font-size: 1.2rem;
  font-weight: bold;
}
.hello{
  font-size: 1.9rem;
}

.waiting{
  font-size: 1.2rem;
}